
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2b2b2b, #474747);
    color: white;
}


#banner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #1a1a1a;
    color: white;
}

#banner img {
    width: 80px;
}


#caminhao {
    height: 100px;  
    width: 100px;
}

#banner h1 {
    font-size: 45px;
    margin: 0;
}


.pai {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#fundo {
    background: #fff;
    width: 85%;
    padding: 40px;
    border-radius: 25px;
    color: black;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.4);
}


.titulo {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}


.compras {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
    background: #f9f9f9;
    transition: .2s ease;
}

.compras:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}


.compras img {
    width: 250px;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid #000;
}


.compras h1 {
    font-size: 26px;
    flex: 1;
}


.compras p {
    font-size: 20px;
    font-weight: bold;
    color: #444;
}


.botoes-carrinho {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.botao-limpar {
    background-color: #b30000;
    padding: 12px 28px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: white;
}

.botao-voltar {
    background-color: #2b2b2b;
    padding: 12px 28px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: white;
}


.botao-finalizar {
    background-color: #007bff;
    padding: 14px 32px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
}

.botao-voltar:hover {
    background: #111;
}


.pagar {
    background: #0077ff;
    color: white;
}

.pagar:hover {
    background: #005fcc;
}

button {
    border: 2px solid black;
    border: none;
}
