body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
}

/* BANNER */
.topo {
    position: relative;
    text-align: center;
}

.banner {
    width: 100%;
    filter: brightness(55%);
}

.titulo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 45px;
    text-shadow: 0 0 10px black;
}

/* CONTEÚDO */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    display: grid;
    gap: 25px;
}

.card {
    background: linear-gradient(145deg, #1a1a1a, #2b2b2b);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
    border-left: 5px solid #fff;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    border-left: 5px solid #999;
}

.card h2 {
    margin-top: 0;
    color: #fff;
    font-size: 26px;
}

.card ul {
    margin: 0;
    padding-left: 20px;
}

/* RODAPÉ */
.rodape {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #000;
    color: #ccc;
}

.voltar-container {
    text-align: center;
    margin: 40px 0;
}

.voltar-btn {
    background: #222;
    color: white;
    padding: 12px 28px;
    font-size: 20px;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    border: 2px solid #555;
}

.voltar-btn:hover {
    background: black;
    border-color: white;
    transform: scale(1.05);
}
