/* BASE */
* { margin:0; padding:0; box-sizing:border-box; }
body {
    font-family: Arial, sans-serif;
    background: #1b1b1b;
    color: white;
}




/* BANNER */
.banner {
    width: 95%;
    margin: 25px auto;
    background: linear-gradient(to right, #000, #444);
    padding: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-img {
    width: 18%;
    border-radius: 20px;
}

.banner-title {
    font-size: 2.5rem;
    font-weight: bold;
}




/* MENU */
.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 10px 0 30px;
    flex-wrap: wrap;
}

.menu-btn {
    background: white;
    color: black;
    padding: 12px 22px;
    font-size: 18px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid black;
    transition: .2s;
}

.menu-btn:hover { background: #dcdcdc; transform: scale(1.1); }

.menu-btn img { width: 25px; height: 25px; }

.menu-admin { display: flex; gap:10px; }

.admin { background:#b30000; color:white; }
.admin:hover { background:#770000; }

.admin2 { background:#000; color:white; }
.admin2:hover { background:#444; }




/* SEÇÕES */
.container {
    width: 95%;
    margin: auto;
    background: #000000c0;
    border-radius: 30px;
    padding: 30px;
}

.categoria { margin-bottom: 50px; }

.titulo {
    background: white;
    color: black;
    width: fit-content;
    margin: auto;
    padding: 8px 30px;
    border-radius: 20px;
    border: 3px solid black;
}

.add-area { text-align:center; margin: 15px 0; }

.add-btn {
    background: green;
    padding: 12px 25px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    display:inline-block;
}

.add-btn:hover { background:#055a05; }




/* GRID */
.grid {
    display: flex;
    justify-content: center;
    margin: 50px;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    gap: 35px;
}



/* CARD */
.card {
    background: #f0f0f0;
    color: black;
    padding: 18px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 0 10px #0007;
    transition: .2s;
}

.card:hover { transform: scale(1.05); }

.card-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background:white;
    border-radius:12px;
}

.card-title { margin: 10px 0; }

.card-btn {
    margin-top: 8px;
    background:black;
    color:white;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
}

.card-btn:hover { background:#444; }

.delete-btn {
    margin-top:10px;
    background:#b30000;
    color:white;
    padding:8px 12px;
    border-radius:10px;
}

.delete-btn:hover { background:#700000; }




/* RODAPÉ */
.rodape {
    background: linear-gradient(to top, #000, #444);
    padding: 40px 20px;
    margin-top: 60px;
}

.rodape-container {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:30px;
}

.rodape ul { list-style:none; }
.rodape ul li { margin: 5px 0; }
.rodape ul a { color:#ddd; text-decoration:none; }
.rodape ul a:hover { color:white; }


.delete-btn {
    background: #c20000;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.2s;
}

.delete-btn:hover {
    background: #8b0000;
    transform: scale(1.05);
}

