<!DOCTYPE html>
<html lang="pt-BR" xmlns:thymeleaf="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ford Fusion 2015</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/decoracao.css}">
</head>
<body>

<!-- Botão voltar -->
<a th:href="@{/loja}" class="btn-voltar">⟵ Voltar para a Loja</a>

<!-- Banner -->
<div id="banner"> 
    <h1>Alma-X Truckão Motors</h1>
</div>

<div class="container-veiculo">

    <div class="card-veiculo">


        <section class="galeria">
        <div class="imagem-principal">
            <img class="main-image" th:src="@{/Fotos/Carros/Fusion/FUSION_FRENTE.png}" alt="Fusion frente">
        </div>

        <div class="miniaturas">
            <img class="thumbnail" th:src="@{/Fotos/Carros/Fusion/FUSION_INTERIOR.png}" alt="Interior">
            <img class="thumbnail" th:src="@{/Fotos/Carros/Fusion/FUSION_TRASEIRA.png}" alt="Traseira">
        </div>
      </section>

        <!-- Informações -->
        <div class="info">
            <h1>Ford Fusion 2015</h1>

            <div class="detalhes">
                <p><strong>Ano:</strong> 2015</p>
                <p><strong>Motor:</strong> 2.0 Ecoboost</p>
                <p><strong>Quilometragem:</strong> 80.000 km</p>
                <p><strong>Estado:</strong> Revisado • Motor zerado</p>
                <p><strong>Descrição:</strong> Carro de luxo, completo e muito bem conservado.</p>
            </div>

            <form th:action="@{/adicionarCarrinho}" method="post" class="form-carrinho">
                <input type="hidden" name="nome" value="Ford Fusion 2015">
                <input type="hidden" name="imagem" value="/Fotos/Carros/Fusion/FUSION_FRENTE.png">
                <input type="hidden" name="preco" value="125000">
                <input type="hidden" name="id" value="2">

                <button type="submit" class="botao-carrinho">Adicionar ao Carrinho 🛒</button>
            </form>
        </div>

    </div>

</div>

<!-- JS externo -->
<script th:src="@{/js/decoracao.js}"></script>

</body>
</html>
