<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Harley-Davidson Softail 114</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/decoracao.css}">
</head>
<body>

<a th:href="@{/loja}" class="btn-voltar">⟵ Voltar para a Loja</a>

<div id="banner">
    <h1>Alma-X Truckão Motors</h1>
</div>

<div class="container-veiculo">

    <div class="card-veiculo">

        <section class="galeria">
        <div class="imagem-principal">
            <img class="main-image"
                 th:src="@{/Fotos/Motos/HARLEY/harley frente.png}"
                 alt="Harley Softail">
        </div>

        <div class="miniaturas">
            <img class="thumbnail"
                 th:src="@{/Fotos/Motos/HARLEY/harley traseira.png}">
            <img class="thumbnail"
                 th:src="@{/Fotos/Motos/HARLEY/HARLEY.png}">
        </div>
        </section>




        <div class="info">
            <h1>Harley-Davidson Softail Heritage Classic 114 — 2022</h1>

            <div class="detalhes">
                <p><strong>Ano:</strong> 2022</p>
                <p><strong>KM:</strong> 12.700 km</p>
                <p><strong>Estado:</strong> Excelente conservação</p>
                <p><strong>Descrição:</strong> Custom completa, preço especial.</p>
            </div>

            <form th:action="@{/adicionarCarrinho}" method="post" class="form-carrinho">
                <input type="hidden" name="nome" value="Harley Davidson 2022">
                <input type="hidden" name="imagem" value="/Fotos/Motos/HARLEY/harley frente.png">
                <input type="hidden" name="preco" value="76000">
                <input type="hidden" name="id" value="4">
                <button type="submit" class="botao-carrinho">Adicionar ao Carrinho 🛒</button>
            </form>
        </div>

    </div>

</div>

<script th:src="@{/js/decoracao.js}"></script>

</body>
</html>
