<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kawasaki Ninja 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/decoracao.css}">
</head>
<body>

<a th:href="@{/loja}" class="btn-voltar">⟵ Voltar para a Loja</a>

<div id="banner">
    <h1>Alma-X Truckão Motors</h1>
</div>

<div class="container-veiculo">

    <div class="card-veiculo">

         <section class="galeria">
        <div class="imagem-principal">
            <img class="main-image"
                 th:src="@{/Fotos/Motos/Kawasaki/Kasak lado.png}"
                 alt="Ninja 500">
        </div>

        <div class="miniaturas">
            <img class="thumbnail"
                 th:src="@{/Fotos/Motos/Kawasaki/kasawj.jpg}">
            <img class="thumbnail"
                 th:src="@{/Fotos/Motos/Kawasaki/Kawasaki.jpg}">
        </div>
        </section>

        <div class="info">
            <h1>Kawasaki Ninja 500</h1>

            <div class="detalhes">
                <p><strong>Ano:</strong> 2024</p>
                <p><strong>KM:</strong> 595 km</p>
                <p><strong>Estado:</strong> Moto nova • Garantia de fábrica</p>
                <p><strong>Descrição:</strong> Sem detalhes, pneus com cera, pronta para rodar.</p>
            </div>

            <form th:action="@{/adicionarCarrinho}" method="post" class="form-carrinho">
                <input type="hidden" name="nome" value="Kawasaki Ninja 500">
                <input type="hidden" name="imagem" value="/Fotos/Motos/Kawasaki/kasawj.jpg">
                <input type="hidden" name="preco" value="48000">
                <input type="hidden" name="id" value="5">
                <button type="submit" class="botao-carrinho">Adicionar ao Carrinho 🛒</button>
            </form>
        </div>

    </div>

</div>

<script th:src="@{/js/decoracao.js}"></script>

</body>
</html>
